<nav class="navbar navbar-inverse navbar-no-bg" role="navigation" style="border-color:transparent">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.childrenscancernetwork.org/"><img src="/img/logo.png" style="height:100px"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
							<span class="li-text">
								Connect with us
							</span>
							<span class="li-social">
								<a href="https://www.facebook.com/pages/Childrens-Cancer-Network/128082398431"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/ccngold"><i class="fa fa-twitter"></i></a>
								<a href="http://www.youtube.com/channel/UCzIYUSSziLAfnN19wSzYqGw"><i class="fa fa-youtube"></i></a>
							</span>
                </li>
                <li style="padding-left:3em">
                    <span class="li-text">
                        Logout
                    </span>
                    <span class="li-social">
                        <a href="/signout"><i class="fa fa-sign-out"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-offset-2">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>A few more details...</h3>
                            <p>Let us know a few  details about your child:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom" ng-controller="SignupChildController">

                        <form role="form" data-ng-submit="create_child()" class="registration-form">
                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <div>
                                    <input type="text" data-ng-model="firstname" id="firstname" class="form-control" placeholder="firstname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <div>
                                    <input type="text" data-ng-model="lastname" id="lastname" class="form-control" placeholder="lastname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cancer_type">Cancer_type</label>
                                <div>
                                    <input type="text" data-ng-model="cancer_type" id="cancer_type" class="form-control" placeholder="Cancer Type">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <div>
                                    <input type="text" data-ng-model="age" id="age" class="form-control" placeholder="age">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <div>
                                    <input type="text" data-ng-model="gender" id="gender" class="form-control" placeholder="gender">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="interests">Interests</label>
                                <tags-input ng-model="interests" id="interests" placeholder="Add an interest">
                                    <auto-complete source="loadInterests($query)"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group">
                                <label for="gender">Hospital</label>
                                <div>
                                    <input type="text" data-ng-model="hospital" id="hospital" class="form-control" placeholder="hospital">
                                </div>
                            </div>
                            <div class="form-group col-md-offset-5">
                                <button type="submit" class="btn">All done!</button>
                            </div>
                            <div data-ng-show="error">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
