<nav class="navbar navbar-css navbar-inverse" role="navigation" style="margin-bottom:0">
    <div class="container-fluid">
        <div class="row">
        <div class="navbar-header col-md-2">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.childrenscancernetwork.org/"><img src="/img/logo.png" style="height:66px"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class=" col-md-10 navbar-collapse" id="top-navbar-1" style="width:83.3%">
            <ul class="nav navbar-nav" ng-controller="profilePhotoController" style="float:none">
                <li class="col-md-6">
                    <form ng-controller="searchController" class="" role="search">
                        <div>
                            <input type="text" ng-model="customSelected" typeahead-append-to-body="true" typeahead-template-url="customTemplate.html" placeholder="Search..."
                                   uib-typeahead="parent as parent.tag for parent in getParents($viewValue)" typeahead-loading="loadingParents" typeahead-no-results="noResults"
                                   typeahead-min-length="2" class="form-control">
                            <i id="filtersubmit" class="fa fa-search "></i>
                        </div>
                    </form>
                </li>
                <li style="padding-right:1em">
							<span class="li-text">
								Connect with us
							</span>
							<span class="li-social">
								<a href="https://www.facebook.com/pages/Childrens-Cancer-Network/128082398431"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/ccngold"><i class="fa fa-twitter"></i></a>
								<a href="http://www.youtube.com/channel/UCzIYUSSziLAfnN19wSzYqGw"><i class="fa fa-youtube"></i></a>
							</span>
                </li>
                <li class="profile">
                    <a href="#!/profile/{{profileHref}}">
                    <img style="height:40px" class="img-circle" src="{{profile_photo}}">
                    </a>
                </li>
                <li class="navbar-li">
                    <a href="#!/profile/{{profileHref}}">{{firstName}}</a>
                </li>
                <li class="navbar-li">
                    <a href="#!/dashboard">Home</a>
                </li>
                <li class="navbar-li" ng-controller="ModalDemoCtrl" style="cursor: pointer;">
                    <i class="fa fa-users" ng-click="open()"></i>
                </li>
                <li class="navbar-li">
                    <a href="#!/profileSettings/">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                <li style="padding-left:1em">
                    <span class="li-social">
                        <a href="/signout"><i class="fa fa-sign-out"></i></a>
                    </span>
                </li>
            </ul>
        </div>
        </div>
    </div>
</nav>
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-offset-2">
                    <div class="panel-card panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Update Status</h3>
                        </div>
                        <div class="panel-body">
                            <form ng-controller="StatusController" role="form" data-ng-submit="post_status()"  class="registration-form">
                                <div class="form-group">
                                     <textarea name="message" cols="40" rows="10" data-ng-model="status" id="status" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea>
                            </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" value="Post" class="btn btn-primary" style="float:right">
                                </div>
                                <div class="form-group">
                                    <div ng-show="showMessage" class="{{postStatusResult.type}} fadein fadeout">{{postStatusResult.msg}}</div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div ng-controller="ShowStatusesController">
                        <div class="panel-card panel panel-default" data-ng-repeat="status in statuses">
                            <div class="panel-heading container-fluid">
                                <div class="row">
                                    <div class="col-md-2 nopadding"><img style="height:40px" class="img-thumbnail" src="{{status.profile_photo}}"></div>
                                    <div class="col-md-3 nopadding">
                                        <div class="row">
                                            <p class="status_info">{{status.status_update_firstname}} {{status.status_update_lastname}}</p>
                                            <p class="status_info">{{status.date}}</p>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <div class="panel-body">
                                <div>{{status.body}}</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class = "col-sm-4">
                    <div class="panel-card panel panel-default">
                        <div class="panel-heading">
                            People you may want to get in touch with
                        </div>
                        <div class="panel-body">
                            <div ng-controller="FriendRecommendController">
                                <div data-ng-repeat="friend in friends" class="panel-card panel panel-default">
                                    <div class="panel-body container-fluid">
                                        <div class="row">
                                            <div class="col-md-4"><img style="width: 80px; height:80px" class="img-thumbnail" src="{{friend.parent_profile_photo}}"></div>
                                            <div class="col-md-6">
                                            <div class="row">
                                                <a href="#!/profile/{{friend.parent_email}}"><p style="margin-top:8px">{{friend.parent_firstname}} {{friend.parent_lastname}}</p></a>
                                                <p>Has a child with Leukemia</p>
                                            </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{titleMsg}}</h3>
        </div>
        <div class="modal-body">
            <div data-ng-repeat="friend in friendRequests" class="panel-card panel panel-default" style="margin-bottom:0">
                <div class="panel-body container-fluid" style="padding:0">
                    <div class="row">
                        <div class="col-md-2"><img style="width: 80px; height:80px" class="img-thumbnail" src="{{friend.sender_profile_photo}}"></div>
                        <div class="col-md-4">
                            <div class="row">
                                <a href="#!/profile/{{friend.parent_sent_email}}" ng-click="ok()"><p style="margin-top:8px">{{friend.sender_firstname}} {{friend.sender_lastname}}</p></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<script type="text/ng-template" id="customTemplate.html">
        <li  class="col-md-12" style="width:535px" >
            <a href="#!/profile/{{match.model.tag}}" style="color:black; z-index:1000">
                <div class="col-md-2">
                    <img ng-src="{{match.model.profile_photo}}" style="width:50px; height:50px">
                </div>
                <div class="col-md-10"  style="padding-top:10px; padding-left:0">
                    <span>{{match.model.firstname}}</span>
                    <span>{{match.model.lastname}}</span>
                </div>
            </a>
        </li>
</script>