<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cancer Social Network</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="/lib/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/css/home_login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
<section ng-view></section>

<!-- Javascript -->


<script type ="text/javascript" src ="/lib/angular/angular.js"></script>

<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

<script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>

<script type="text/javascript" src="/lib/ng-tags-input/ng-tags-input.min.js"></script>

<link rel="stylesheet" href="/lib/ng-tags-input/ng-tags-input.min.css">

<link rel="stylesheet" href="/lib/ng-tags-input/ng-tags-input.bootstrap.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script type ="text/javascript" src ="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<link rel="stylesheet" href="/lib/angular-xeditable/dist/css/xeditable.css">

<script type ="text/javascript" src ="/lib/angular-xeditable/dist/js/xeditable.min.js"></script>

<script type="text/javascript" src="/connect/connect.client.module.js"></script>

<script type="text/javascript" src="/connect/services/connect.client.service.js"></script>

<script type="text/javascript" src="/connect/controllers/connect.client.controller.js"></script>

<script type="text/javascript" src="/connect/config/connect.client.route.js"></script>

<script type="text/javascript" src="/interests/interests.client.module.js"></script>

<script type="text/javascript" src="/interests/services/interests.client.service.js"></script>

<script type="text/javascript" src="/interests/controllers/interests.client.controller.js"></script>

<script type="text/javascript" src="/cancerType/cancerType.client.module.js"></script>

<script type="text/javascript" src="/cancerType/services/cancerType.client.service.js"></script>

<script type="text/javascript" src="/cancerType/controllers/cancerType.client.controller.js"></script>

<script type="text/javascript" src="/search/search.client.module.js"></script>

<script type="text/javascript" src="/search/services/search.client.service.js"></script>

<script type="text/javascript" src="/search/controllers/search.client.controller.js"></script>

<script type="text/javascript" src="/profileSettings/profileSettings.client.module.js"></script>

<script type="text/javascript" src="/profileSettings/services/profileSettings.client.service.js"></script>

<script type="text/javascript" src="/profileSettings/controllers/profileSettings.client.controller.js"></script>

<script type="text/javascript" src="/profileSettings/config/profileSettings.client.route.js"></script>

<script type="text/javascript" src="/profilePhoto/profilePhoto.client.module.js"></script>

<script type="text/javascript" src="/profilePhoto/controllers/profilePhoto.client.controller.js"></script>

<script type="text/javascript" src="/showFriendRequests/showFriendRequests.client.module.js"></script>

<script type="text/javascript" src="/showFriendRequests/services/showFriendRequests.client.service.js"></script>

<script type="text/javascript" src="/showFriendRequests/controllers/showFriendRequests.client.controller.js"></script>

<script type="text/javascript" src="/friendStatus/friendStatus.client.module.js"></script>

<script type="text/javascript" src="/friendStatus/services/friendStatus.client.service.js"></script>

<script type="text/javascript" src="/friendStatus/controllers/friendStatus.client.controller.js"></script>

<script type="text/javascript" src="/profile/profile.client.module.js"></script>

<script type="text/javascript" src="/profile/services/profile.client.service.js"></script>

<script type="text/javascript" src="/profile/controllers/profile.client.controller.js"></script>

<script type="text/javascript" src="/profile/config/profile.client.route.js"></script>

<script type="text/javascript" src="/postComment/postComment.client.module.js"></script>

<script type="text/javascript" src="/postComment/services/postComment.client.service.js"></script>

<script type="text/javascript" src="/postComment/controllers/postComment.client.controller.js"></script>

<script type="text/javascript" src="/postStatus/postStatus.client.module.js"></script>

<script type="text/javascript" src="/postStatus/services/postStatus.client.service.js"></script>

<script type="text/javascript" src="/postStatus/controllers/postStatus.client.controller.js"></script>

<script type="text/javascript" src="/dashboard/dashboard.client.module.js"></script>

<script type="text/javascript" src="/dashboard/services/dashboard.client.service.js"></script>

<script type="text/javascript" src="/dashboard/controllers/dashboard.client.controller.js"></script>

<script type="text/javascript" src="/dashboard/config/dashboard.client.route.js"></script>

<script type="text/javascript" src="/signupChild/signupChild.client.module.js"></script>

<script type="text/javascript" src="/signupChild/services/signupChild.client.service.js"></script>

<script type="text/javascript" src="/signupChild/config/signupChild.client.route.js"></script>

<script type="text/javascript" src="/signupChild/controllers/signupChild.client.controller.js"></script>

<script type="text/javascript" src="/signinParent/signinParent.client.module.js"></script>

<script type="text/javascript" src="/signinParent/services/signinParent.client.service.js"></script>

<script type="text/javascript" src="/signinParent/controllers/signinParent.client.controller.js"></script>

<script type="text/javascript" src="/signupParent/signupParent.client.module.js"></script>

<script type="text/javascript" src="/signupParent/config/signupParent.client.route.js"></script>

<script type="text/javascript" src="/signupParent/services/signupParent.client.service.js"></script>

<script type="text/javascript" src="/signupParent/controllers/signupParent.client.controller.js"></script>

<script type="text/javascript" src="/home/home.client.module.js"></script>

<script type="text/javascript" src="/home/config/home.client.route.js"></script>

<script type="text/javascript" src="/home/controllers/home.client.controller.js"></script>

<script type="text/javascript" src="/auth/auth.client.module.js"></script>

<script type="text/javascript" src="/auth/providers/auth.client.provider.js"></script>

<script type="text/javascript" src="/users/users.client.module.js"></script>

<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

<script type="text/javascript" src="/application.js"></script>

<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>